<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Treasure Hunt</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
  </style>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    function verifyAnswer() {
      var count = 0;
      var answer = parseInt(document.getElementById("hidden-count").value.trim(), 10);
      var unsuccessfulAttempt = count;
      if (answer === 7) {
        swal({
          title: "You solved the challenge!",
          text: "(64,87)",
          icon: "success",
          button: {
            text: "Close",
            className: "sweet-alert-button",
          },
        }).then(function () {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/game4", true);
          xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
              console.log(xhr.responseText);
              window.close();
            }
          };
          xhr.send("count=" + count);
        });
      }else if (answer === 6) {
        count++;
        swal({
          title: "surprise at (40,50)",
          text: "wrong",
          icon: "huh",
          button: {
            text: "Close",
            className: "sweet-alert-button",
          },
        })
      } else {
        count++;
        swal("Oops!", "That's not the correct answer. Please try again.", "error");
      }

      return false;
    }
  </script>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    img {
      max-width: 25%;
      height: auto;
      margin-bottom: 20px;
    }

    .shapes-answer {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>


  <main>
    <h2>Challenge: Find the Words</h2>
    <p>Look at the image below and count the number of words hidden.</p>
    <img src="/static/images/hidden.jpg" alt="hidden Image">

    <form onsubmit="return verifyAnswer()">
      <div class="hidden-answer">
        <label for="hidden-count">Number of words:</label>
        <input type="number" id="hidden-count" name="hidden-count" required>
      </div>
      <div>
        <input type="hidden" name="challenge-number" value="6">
        <input type="submit" value="Submit">
      </div>
    </form>
  </main>

</body>
</html>
